@import "_react-calendar-defaults";

.react-calendar {
  border-top: none;
  border-right: none;
  border-left: none;
  border-color: var(--line-color);

  .dark-mode & {
    border-color: var(--mdc-theme-text-hint-on-background);
  }

  .react-calendar__navigation {
    margin-bottom: 0;

    button {
      min-width: 35px;
    }
  }

  .react-calendar__tile {
    &.has-data {
      font-weight: bold;
    }

    &.react-calendar__tile--now {
      &:not(.react-calendar__tile--active) {
        text-decoration: underline;
      }
    }
  }

  .react-calendar__tile--active {
    background-color: var(--mdc-theme-secondary, #009fdc);
    color: var(--mdc-theme-on-secondary);
  }
}
