@import "_react-calendar-defaults";

.react-calendar {
  border-top: none;
  border-right: none;
  border-color: var(--line-color);

  .react-calendar__navigation {
    margin-bottom: 0;

    button {
      min-width: 35px;
    }
  }

  .react-calendar__tile {
    &.react-calendar__tile--active {
     background-color: var(--mdc-theme-secondary, #009fdc);

      &.react-calendar__tile--now {
        color: var(--mdc-theme-on-primary, #ffffff);
      }
    }

    &.has-data {
      font-weight: bold;
    }

    &.react-calendar__tile--now {
      color: var(--mdc-theme-secondary, #ff9900);
      &:hover {
        color: var(--mdc-theme-text-primary-on-background)
      }
    }
  }
}
