.registration-line__content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 2;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 36px;
}

.registration-line__time {
    width: 80px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    height: 100%;
    align-items: center;
}
