.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  width: 100%;
}

.mdc-drawer {
  .mdc-drawer__header {
    border-bottom: solid 1px lightgrey;
  }
}

.account-badge {
  background-color: rgba(255, 255, 255, 0.88);
  border: 1px solid #dadce0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  outline: none;
  padding: 0;
  vertical-align: middle;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  margin-top: 8px;
  display: flex;
}

.account-badge--content {
  display: flex;
}

.account-badge--name {
  display: flex;
  align-items: center;
  padding-left: 6px;
  padding-right: 1em;
}

.account-badge--image {
  display: flex;
}
.account-badge--image img {
  border-radius: 25px;
  margin: 3px;
}
