.mdc-drawer-app-content {
  flex: auto;
  overflow: auto;
  width: 100%;
}

.mdc-drawer {
  .mdc-drawer__header {
    border-bottom: solid 1px var(--mdc-theme-text-hint-on-background, red);
  }
}

@media (max-width: 599px) {
  .mdc-drawer {
    .mdc-drawer__header {
      min-height: 56px;

      img {
        width: 32px;
        height: 32px;
      }
    }
  }
}
