div.form {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    padding: 2em;

    & .row {
        margin-bottom: 1em;
    }
}

.form-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formField {
    margin-left: 1em;

    &.first {
        margin-left: 0;
    }
}

.flex {
    display: flex;
    flex-direction: row;

    &.vertical {
        flex-direction: column;
    }

    &.center{
        align-items: center;
    }
}