$mdc-theme-primary: #009fdc;
$mdc-theme-secondary: #ff9900;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-on-secondary: #ffffff;
$mdc-theme-on-surface: rgba(0, 0, 0, 0.54);

$font-stack:    Helvetica, sans-serif;
$primary-color: rgb(39, 39, 39);
$secondary-color:#fbfbfb;