@import '_vars';
@import '_form';

@import "@material/fab/mdc-fab";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/textfield/mdc-text-field";
@import "rc-datetime-picker/dist/picker";

body {
    font: 100% $font-stack;
    color: $primary-color;
    background: $secondary-color;

    padding: 0;
    margin: 0;
  }

  .app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
  }