@import '_vars';
@import '_form';
@import '_chip';
@import '_layout';

@import "@material/fab/mdc-fab";
@import "@material/top-app-bar/mdc-top-app-bar";
@import "@material/drawer/mdc-drawer";
@import "@material/list/mdc-list";
@import "@material/button/mdc-button";
@import "@material/textfield/mdc-text-field";
@import "@material/typography/mdc-typography";
@import "@material/select/mdc-select";
@import "@material/tab-bar/mdc-tab-bar";
@import "@material/tab-scroller/mdc-tab-scroller";
@import "@material/tab-indicator/mdc-tab-indicator";
@import "@material/tab/mdc-tab";
@import "@material/form-field/mdc-form-field";
@import "@material/checkbox/mdc-checkbox";
@import "@material/icon-button/mdc-icon-button";


@import '../mdc/styles/list';
@import '../mdc/styles/app-bar';
@import '../mdc/styles/switch';

@import './calendar';
@import './chart';

body {
    font: 100% $font-stack;
    color: $primary-color;
    background: $secondary-color;

    padding: 0;
    margin: 0;
  }

  a:visited, a:link {
    text-decoration: none;
    @include mdc-theme-prop("color", "secondary");
  }

  a:hover, a:active {
    text-decoration: none;
    @include mdc-theme-prop("color", "primary");
  }

  .body-wrapper {
    display: flex;
    height: 100vh;
  }

  .app-fab--absolute {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
  }

  .mdc-top-app-bar {
    position: absolute;
  }

  .mdc-drawer-app-content {
    flex: auto;
    overflow: auto;
  }

  .main-content {
    overflow: auto;
    height: 100%;
  }

/** https://github.com/material-components/material-components-web/issues/4629 */
:not(.mdc-list--non-interactive) > :not(.mdc-list-item--disabled).mdc-list-item:hover::before {
    filter: opacity(100%);
}